name: Test
on:
  push:
    branches:
      - main
      - "0.7"
  pull_request:
    branches:
      - main
jobs:
  go:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.18.x, 1.19.x]
        redis-version: [6-alpine, 7-alpine]
    services:
      redis:
        image: redis:${{ matrix.redis-version }}
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true
          cache: true
      - run: make test test-race
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19.x
          check-latest: true
          cache: true
      - uses: golangci/golangci-lint-action@v3
