name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  go:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.15.x, 1.16.x]
    services:
      redis:
        image: redis:6-alpine
    steps:
      - name: Fetch staticcheck
        uses: engineerd/configurator@v0.0.6
        with:
          name: staticcheck
          fromGitHubReleases: true
          repo: dominikh/go-tools
          version: latest
          urlTemplate: "https://github.com/dominikh/go-tools/releases/download/2021.1/staticcheck_linux_amd64.tar.gz"
          pathInArchive: staticcheck/staticcheck
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Run tests
        run: make test test-race
      - name: Run staticcheck
        run: make staticcheck
